


.message{
    padding:10px;
    margin:10px;
    width:fit-content;
    border-radius: 50px;
}

.message_user{
    margin-left: auto;
    text-align: left !important;
}
.message_usercard{
    background-color: rgba(14, 82, 230, 0.409) !important;
}
.message_guestCard{
    background-color: grey !important;
}